<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <% ColumnTransform.all.each do |ct| %>
            <% puts ct %>
            <Cell><Data ss:Type="String"><%= ct.external %></Data></Cell>
        <% end %>
      </Row>
      <% @songs.each do |song| %>
          <Row>
            <% puts song %>
           <% ColumnTransform.all.each do |ct| %>
                <% puts ct %>
                <Cell><Data ss:Type="String"><%= song[ct.internal] %></Data></Cell>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>